<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">
    <jmxConfigurator/>

    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jboss.server.log.dir}/default.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,Europe/London} %-5p [%c{26}] \(%t\) %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${jboss.server.log.dir}/default.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="CONSOLE_DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS,Europe/London}) %boldCyan(%highlight(%-5p)) %cyan([%c{26}]) \(%t\) %msg%n)</pattern>
        </encoder>
    </appender>

    <!--Default WF 10.1.0.Final-->
    <logger name="com.arjuna" level="WARN"/>
    <logger name="org.jboss.as.config" level="DEBUG"/>
    <logger name="sun.rmi" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="FILE_DEFAULT"/>
        <appender-ref ref="CONSOLE_DEFAULT"/>
    </root>
</configuration>
