<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="ch.qos.logback">
    <resources>
        <!--
            Include the slf4j API here alongside the implementation so that the 
            ServiceLoader based impl discovery mechanism works when running in
            Wildfly (which it appears not to for some reason when they API is left
            as a separate module.)
        -->
        <resource-root path="slf4j-api-${slf4j.version}.jar"/>
        <resource-root path="logback-classic-${logback.version}.jar"/>
        <resource-root path="logback-core-${logback.version}.jar"/>
    </resources>
    <dependencies>
        <module name="jakarta.mail.api"/>
        <module name="jakarta.servlet.api"/>

        <module name="org.codehaus.janino"/>
    </dependencies>
</module>
